
//muss erste sein /var
@import "./base/_base-dir";
@import "abstracts/_abstracts_dir";
//korper layout

@import "./layouts/_layouts-dir";






.haupt-main{
  .poster{
    background-color: #bcbabb;
    background-image: url("../img/pokac.png");
    background-position: 50% 75%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: inherit;
    color: antiquewhite ;
    @include with-hight(100vw, 20vh);
      }
  .pag-poster{
    @include with-hight(100vw, 15vh);
    display: flex;
    align-items: center;
    .foto-pokac{
        margin-right: 25px;
      img{
        border-radius: 50%;
      }
    }
    .text-pokac {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 60vw;
    }
    .button{
      display: flex;
      justify-content: center;
      align-items: center;
      #aboniert{
        border: transparent;
        border-radius: 25px 25px;
        width: 6em;
        height: 3em;
        &:hover{
          background-color: rgba(169, 169, 169, 0.35);
        }
      }
      img {
        margin-left: 10px;
      }
    }
  }
  .album {
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(2, 2fr);
    grid-template-areas:
            'klip1 klip2 klip3 klip4'
    'klip5 klip6 klip7 klip8';
    gap: 2ex;
    width: 100vw;
  }
    .img {
      width: 100%;
      &:nth-child(1) {
        grid-area: klip1;
      }

      &:nth-child(2) {
        grid-area: klip2;
      }

      &:nth-child(3) {
        grid-area: klip3;
      }

      &:nth-child(4) {
        grid-area: klip4;
      }

      &:nth-child(5) {
        grid-area: klip5;
      }

      &:nth-child(6) {
        grid-area: klip6;
      }

      &:nth-child(7) {
        grid-area: klip7;
      }

      &:nth-child(8) {
        grid-area: klip8;
      }

    }}
